<!doctype html>
<html lang="en">

<head>
    <title>Alll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
        .message {
            font-size: 1.3em;
            font-weight: bold;
        }

        .bgColor {
            background-color: blue;
        }
    </style>
</head>

<body ng-app="myApp">
    <div ng-controller="myCtrl" class="container">
        <h1>Assignment One</h1>

        <div class="form-group">
            <input id="lunch-menu" type="text" ng-model="string" placeholder="list comma separated dishes you usually have for lunch"
                class="form-control">
        </div>
        <div class="form-group">
            <button ng-click="myFunc()" class="btn btn-default">Check If Too Much</button>
        </div>
        <div ng-style="{{colorr}}" class="form-group message">

            <p>{{msg}}</p>
        </div>
    </div>

</body>

</html>
